body {
  margin: 0;
  background-color: #008080;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  text-align: center;
}
h1 {
  margin: 0;
}

header {
  background-color: #2e354f;
  color: #fff;
  padding-top: 25px;
  padding-bottom: 40px;
  margin-bottom: 40px;
}
form {
  background-color: #d0cccc;
  margin: 40px 250px;
  padding: 10px 60px;
  border-radius: 15px;
}

.green-btn {
  background-color: #185c43;
  border: none;

  color: white;
  text-align: center;
  text-decoration: none;

  font-size: 16px;
  margin: 15px 2px;
  cursor: pointer;
  padding: 12px 32px;
  border-radius: 14px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
}

.red-btn {
  background-color: #8b0000;
  border: none;

  color: white;
  text-align: center;
  text-decoration: none;

  font-size: 16px;
  margin: 15px 20px 15px 2px;
  cursor: pointer;
  padding: 12px 32px;
  border-radius: 14px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  width: 40%;
  margin-left: 2px;
  float: left;
}

.orange-btn {
  background-color: #ef5839;
  border: none;

  color: white;
  text-align: center;
  text-decoration: none;

  font-size: 16px;
  margin: 15px 2px 15px 40px;

  cursor: pointer;
  padding: 12px 32px;
  border-radius: 14px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  width: 50%;
}

input {
  width: 100%;
  padding: 12px 15px;

  margin: 8px 0;

  box-sizing: border-box;
  border: none;
}
[type="text"] {
  border-radius: 8px;
}
/* [type="button"] {
  color: #fff;
  border: 0px;
  border-radius: 10px;
  padding: 10px 25px;
  margin: 25px 100px 40px;
  font-size: 18px;
} */

input[type="checkbox"] {
  width: auto;
}
label {
  display: inline-block;
  width: 100%;
  text-align: left;
}
.box-check {
  text-align: left;
}

label[for="hatirla"] {
  width: auto;
}
